<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>username</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>220757</param-value>
    </context-param>
    <servlet>
        <servlet-name>employee-login</servlet-name>
        <servlet-class>login.Employee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>employee-logout</servlet-name>
        <servlet-class>employee.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>employee-manager-action</servlet-name>
        <servlet-class>employee.manager.Action</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>form-upload</servlet-name>
        <servlet-class>fileUpload.Action</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Action</servlet-name>
        <servlet-class>employee.sales.Action</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user-signup</servlet-name>
        <servlet-class>signup.User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>customer-password</servlet-name>
        <servlet-class>business.customer.Password</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>customer-login</servlet-name>
        <servlet-class>login.Customer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user-logout</servlet-name>
        <servlet-class>user.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user-account-action</servlet-name>
        <servlet-class>user.Action</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user-checkout</servlet-name>
        <servlet-class>user.Checkout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user-coupon</servlet-name>
        <servlet-class>user.Coupon</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>employee-login</servlet-name>
        <url-pattern>/employee.login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>employee-redirect</servlet-name>
        <servlet-class>employee.Redirect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>employee-stock-action</servlet-name>
        <servlet-class>employee.stock.Action</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>employee-stock-action</servlet-name>
        <url-pattern>/employee/stock/Action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>employee-redirect</servlet-name>
        <url-pattern>/employee/</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>login-employee-filter</filter-name>
        <filter-class>filter.employee.Login</filter-class>
    </filter>
    <filter>
        <filter-name>login-user-filter</filter-name>
        <filter-class>filter.user.Login</filter-class>
    </filter>
    <filter>
        <filter-name>redirect-stock-filter</filter-name>
        <filter-class>filter.employee.stock.Observer</filter-class>
    </filter>
    <filter>
        <filter-name>redirect-sales-filter</filter-name>
        <filter-class>filter.employee.sales.Observer</filter-class>
    </filter>
    <filter>
        <filter-name>redirect-manager-filter</filter-name>
        <filter-class>filter.employee.manager.Observer</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>login-user-filter</filter-name>
        <url-pattern>/user/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>login-employee-filter</filter-name>
        <url-pattern>/employee/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>redirect-stock-filter</filter-name>
        <url-pattern>/employee/stock/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>redirect-sales-filter</filter-name>
        <url-pattern>/employee/sales/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>redirect-manager-filter</filter-name>
        <url-pattern>/employee/manager/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>login-user-filter</filter-name>
        <url-pattern>/index.jsp</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>application.Initializer</listener-class>
    </listener>
    <servlet-mapping>
        <servlet-name>employee-logout</servlet-name>
        <url-pattern>/employee/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>employee-manager-action</servlet-name>
        <url-pattern>/employee/manager/Action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>form-upload</servlet-name>
        <url-pattern>/formUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Action</servlet-name>
        <url-pattern>/employee/sales/Action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user-signup</servlet-name>
        <url-pattern>/user.signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customer-password</servlet-name>
        <url-pattern>/setup/password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customer-login</servlet-name>
        <url-pattern>/user.login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user-logout</servlet-name>
        <url-pattern>/user/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user-account-action</servlet-name>
        <url-pattern>/user/account/Action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user-checkout</servlet-name>
        <url-pattern>/user/checkout/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user-coupon</servlet-name>
        <url-pattern>/user/checkout/coupon</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>125</session-timeout>
    </session-config>
    <session-timeout/>
</web-app>
